<div class="container-fluid">

  
    <div class="row">
        <% @properties.each do |property| %>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <%= image_tag property.image, class: "card-img-top" %>
                    <div class="card-body">
                        <h1 class="card-title"><%= property.name %></h1>
                        <p class="card-text"><%= property.user_id %></p>
                        <p class="card-text"><%= property.information %></p>
                        <% if current_user.id == property.user_id%>
                            <%= button_to "Edit", "/properties/#{property.id}/edit", method: :get, class: "btn btn-info" %>

                            <%= button_to "Delete", property, method: :delete, class: "btn btn-danger"%>

                        <% end %>
                    </div>
                </div>

            </div>
        
    
        <% end %>
    </div>

</div>